body {
  font-family: "Lovers Quarrel", cursive;
  font-style: normal;
  text-align: center;
  background-color: #EBB8B7;
  font-size: 20px;
}

.container {
  margin-top: 50px;
}

h1 {
  color: black;
  font-weight:normal;
}

button {
  margin-top: 35%;
  padding: 10px 20px;
  font-size: 16px;
  background-color: #D7A4A3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background-color: #E1AEAD;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fadeIn {
  animation: fadeIn 0.5s ease-out;
}

p {
  margin-top: 100px;
  font-size: 40px;
}

.reason-image {
  width: 100px;
  height: 100px;
  margin: 10px;
  margin-bottom: -80px;
  transition: opacity 0.5s ease-in-out; /* Add transition effect for opacity */
  border: 2px solid #D7A4A3; /* Add border around the images */
}

.reason-image.hidden {
  opacity: 0; /* Hide images initially */
}
